.env
node_modules
.idea
/.vscode
dist
/build
/coverage
./test
.DS_Store
tmp
.tool-versions
/.nx-cache
yarn-error.log

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
