@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/roboto-bold.woff2') format('woff2'),
    url('/assets/fonts/roboto/roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
