name: Deploy production

on:
  release:
    types: [created]

jobs:
  test-build-and-deploy:
    needs: [test-build-and-deploy-s3]
    uses: ./.github/workflows/test-build-and-deploy-to-qovery.yml
    with:
      flow: deploy-production
      branch: main
      configuration: production
      project-name: R&D / Frontend
      environment-name: production
      application-names: console
      application-commit-id: ${{ github.sha }}
    secrets:
      organization-id: ${{ secrets.QOVERY_ORGANIZATION_ID }}
      api-token: ${{ secrets.QOVERY_API_TOKEN }}

  test-build-and-deploy-s3:
    uses: ./.github/workflows/test-build-and-deploy-to-s3.yml
    with:
      flow: deploy-production
      configuration: production
    secrets:
      aws-region: ${{ secrets.AWS_REGION }}
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      s3-bucket-name: 'console.qovery.com'
      cloudflare-zone: ${{ secrets.CLOUDFLARE_ZONE }}
      cloudflare-token: ${{ secrets.CLOUDFLARE_TOKEN }}
