name: Pull request

on:
  pull_request:
    branches:
      - '**'
jobs:
  test-build-and-deploy:
    uses: ./.github/workflows/test-build-and-deploy.yml
    with:
      flow: pull-request
      branch: ${{ github.base_ref }}
      configuration: staging
      project-name: Console V3
      environment-name: staging
      application-names: console
      application-commit-id: ${{ github.sha }}
    secrets:
      organization-id: ${{ secrets.QOVERY_ORGANIZATION_ID }}
      api-token: ${{ secrets.QOVERY_API_TOKEN }}
      nx-cloud-access-token: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
